.container {
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 60vh;
}
p {
  font-size: 1.5rem;
}
